# Mac
.DS_Store

# Editor
~*
*.swp

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/fluke8050a.X/build/
/previous_projects/ken_kaarvik/fluke8050a_ili9341/dist/
/previous_projects/ken_kaarvik/fluke8050a_ili9341/build/
/src/8050A_TFT.X/dist/
/src/8050A_TFT.X/build/
/fluke8050a.X/dist/
/src/ken_new.X/dist/
/src/ken_new.X/build/